n8n-github-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -32
      ],
      "id": "0bb1fd4f-a04e-4d59-a4bc-88a2fc5ba1ca",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        160
      ],
      "id": "39279ffa-5cdc-4550-854a-af751a9fb6bf",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "YOUR_GITHUB_USERNAME",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "YOUR_REPOSITORY",
          "mode": "name"
        },
        "filePath": "README.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -112,
        64
      ],
      "id": "7f11d04b-c405-4c28-9ef3-4fe08f9902da",
      "name": "Get a file"
    },
    {
      "parameters": {
        "url": "https://cataas.com/cat/gif",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        64
      ],
      "id": "ca325e0e-b1ef-4114-8b85-238bc1bc1d9b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58ef9fc4-246d-4065-bcd0-5b25325f983a",
              "name": "decodedContent",
              "value": "={{ $('Get a file').item.json.content.base64Decode() }}",
              "type": "string"
            },
            {
              "id": "4b1719ad-1f2a-4de6-a98a-48fc09f5c49c",
              "name": "newContent",
              "value": "={{\n  (() => {\n    const catUrl = $('HTTP Request').item.json.url || '/cat/gif';\n    const absoluteCatUrl = catUrl.startsWith('http')\n      ? catUrl\n      : `https://cataas.com${catUrl}`;\n\n    return $('Get a file').item.json.content\n      .base64Decode()\n      .replace(\n        /<!--CAT GIF START-->[\\s\\S]*?<!--CAT GIF END-->/,\n        `<!--CAT GIF START-->\n![Daily cat](${absoluteCatUrl})\n<!--CAT GIF END-->`\n      );\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        64
      ],
      "id": "e615e526-cb2b-4895-b47c-cb7d97fded5d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "YOUR_GITHUB_USERNAME",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "YOUR_REPOSITORY",
          "mode": "name"
        },
        "filePath": "README.md",
        "fileContent": "={{ $json.newContent }}",
        "commitMessage": "chore: refresh README cat gif"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        560,
        64
      ],
      "id": "9cc7a0ce-b1b2-4680-9be6-51427f40ced0",
      "name": "Edit a file"
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        []
      ]
    }
  },
  "pinData": {}
}
